body, #container, #right, #left, #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#container, #right {
    padding-right: 2rem;
    padding-left: 2rem;
}

#container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#container, #left, #right {
    height: 75vh;
}

#left {
    background-image: url("casey-horner-0D8_tYHIy0o-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#right {
    align-items: flex-start;
}

#info {
    padding-right: 5%;
}

#left, #logo {
    max-width: 35%;
}

h1 {
    font-size: 4rem;
}

#logo {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 30vh;
    background-color: rgba(215,215,215,0.5);
    height: 20vh;
}

#odin {
    max-width: 100%;
    height: auto;
}


#right {
    flex-direction: column;
}



#stack {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

#row {
    display: flex;
}

button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #596D48;
    width: 12rem;
    height: 2.5rem;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

input {
    width: 15rem;
    height: 2rem;
}

input:focus {
    border-color: blue;
}