body, #container, #right, #left, #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#container, #right, #left {
    padding-right: 2rem;
    padding-left: 2rem;
}

#container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#container, #left, #right {
    height: 75vh;
}

#left {
    background-image: url("casey-horner-0D8_tYHIy0o-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#right {
    align-items: flex-start;
}

#info {
    padding-right: 5%;
}

#left, #logo {
    max-width: 35%;
}

h1 {
    font-size: 4rem;
}

#logo {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 30vh;
}

#odin {
    max-width: 100%;
    height: auto;
}


#right {
    flex-direction: column;
}



#stack {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

#row {
    display: flex;
}

button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}